.folder{
    height: 185px;
    width: 22%;
    background-color: #eeeeee;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10px 10px 0 0;
}

.folder:hover{
    background-color: #0077ff;
    color: white;
    cursor: pointer;
}

#imageContainer{
    background-color: white;
    height: 75%;
    width: 94%;
    margin: 6px auto;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.image{
    height: 50%;
    width: 40%;
    margin-top: 19%;
}

#albumName{
    text-align: center;
    margin-top: -8%;
    font-size: 22px;
}